h1{
 color:#0000FF;
}
.parent {
  color:blue;
  display: flex;
  justify-content: flex-end;
 }
 .child{
   width: 100px;
   padding: 10px;
   margin: 10px;

 }
 .firstview-jpeg {
   position: relative;
   top :30%
 }
img{
  position: absolute;
  top: 50px;
  left: 650px;
}
 .emphasis{
   font-size: 32px;
   font-weight: bold;
}
  .first {
  background-color: blue;
  width: 700px;
  height:150px;
  margin-bottom: 500px;
  }


