h1{
  color: #0000FF ;
}
.span {
  color: blue;
  text-align: right;
}
div class=firstview-jpeg {　
  position relative: -50px; z-index: index 1;
  left: 20px
}
.emphasis{
  font-size: 32px;
  font-weight: bold;
 }
 .first {
 background-color: blue;
 background-position: relative; top: 50px; z-index;2
 width: 2143px;
 height: 100px;
 }