h1{
 color:#0000FF;
}
.change {
  color:blue;
  text-align: right;
 }
 .firstview-jpeg {
   position: relative;
   top :30%
 }
img{
  position: absolute;
  top: 50px;
  left: 650px;
}
 .emphasis{
   font-size: 32px;
   font-weight: bold;
}
  .first {
  background-color: blue;
  width: 700px;
  height:150px;
  }


